.headerContainer {
  margin-top: 20px;
}

.headerTitle {
  font-size: 20px;
  color: white;
  padding-left: 20px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
  border: none;
  height: 1px;
  background-color: rgb(86, 85, 85);
}
